{{#if r.projects}}
<div id="projects" class="detail" onclick="clear_highlight()" open>
  <summary>
    <div class="icon"><i class="fs-lg fa fa-star"></i><span class="mobile-title">Projects</span></div>
    <div class="info"><h4 class="title text-uppercase">Projects</h4></div>
  </summary>
  <div class="info">
    <ul class="list-unstyled">
      {{#each r.projects}}
      <li class="card card-nested clearfix">
        <details class="content" tags="{{#each keywords}}{{this}} {{/each}}{{#each technologies}}{{this}} {{/each}}">
          <summary>
            <p class="clear-margin relative"><strong>{{role}}</strong>,&nbsp;<a href="{{url}}" target="_blank">{{title}}</a></p>
            {{> date}}
            {{{summary}}}
          </summary>
          {{> highlights}}
        </details>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
